<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写sql语句 -->
<mapper namespace="com.xupt.mybatis.mapper.OrderMapper">
	
	<!--    与上一个同样的问题
	<select id="selectOrdersList"  resultType="Orders">
		select id,user_id,number,createtime,note from orders
	</select>
    -->


	
</mapper>
